#header {
    background-color: aqua;
    text-align: center;
    padding:10px;
    border-radius: 8px;
}


body {
    background-color: cadetblue;
}

.seperate {
    background-color: black;
}

.dates {
    background-color: whitesmoke;
    width: 700px;
    border-radius: 5px;
    font-family: fantasy;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
    
}
.dateDiv{
    padding:10px;
    border: black;
    border: 2px solid black;
}

textarea {
    width: 80%;
}

.saveBtn{
    background-color:aqua;
    font-size: 19px;
    padding: 10px;
    border-radius:8px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    


}
.bottom {
    padding-bottom: 50px;
    text-align: center;
}