#header {
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    /* background-color: gray; */
    background-image: url("https://assets.asana.biz/transform/0c71b880-f528-45c6-8ee3-a704941b9358/article-productivity-daily-schedule-template-2x");
    background-size: cover;
    background-repeat: no-repeat;
}

.seperate {
    background-color: black;
}

.dates {
    background-color: whitesmoke;
    width: 700px;
    border-radius: 5px;
    font-family: fantasy;
    padding: 20px;
    box-shadow: 0 0 10px 2px;

}

.dateDiv {
    padding: 10px;
    border: black;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    width: 80%;
}

.saveBtn {
    background-color: white;
    font-size: 19px;
    padding: 10px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom {
    padding-bottom: 50px;
    text-align: center;
}

.bgColor{
    background-color: aliceblue !important;
}

::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}